.node {
  display: flex;
  border: 1px solid white;
  height:20px;
  display:flex;
  padding:5px 2px;

  .edit-container{
      display:none;
  }

  &:hover {
    border: 1px solid black;
    cursor:pointer;

    .edit-container{
        display:inline-block;
    }
  }

  %base-icon {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 15px;
    width: 20px;
    padding-left: 0px;
    position: relative;
    top: 2px;
    content: "";
  }

  .icon {
    &.folder {
      &::before {
        @extend %base-icon;
        background-image: url('/assets/folder-open-regular.svg');
      }
    }

    &.file {
      &::before {
        @extend %base-icon;
        background-image: url('/assets/file-regular.svg');
      }
    }
  }

  .mat-icon-button {
    $size: 20px;

    margin-left: 2px;
    margin-right: 2px;
    width: $size;
    height: $size;
    line-height: $size;
    background-color: black;

    .mat-icon {
      font-size: 14px;
      line-height:18px;
      color: white;
      width:$size;
      height:$size;
    }
  }


}
